@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter {
    height: 85vh;
}
.filter > span {
    padding-bottom: 20px;
}
 